body{
	background-image: linear-gradient(to bottom, #94b8ef, #85cde5, #a4d9d2, #cde0cd, #ebe8dc);
font-family: 'Mandali', sans-serif;
}

h1{
	font-family: 'Mandali', sans-serif;

}



#mainNav ul {
	list-style-type: none;
	margin: 0 0 40px 0;
	padding: 0;
}

#mainNav ul li {
	display: inline;
	margin-right: 15px;
}

.wow {
	visibility: hidden;
}
.col-sm-7 picture{
  max-width:100%;
    height:auto;
}

